# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
dist-isolation

# Tauri build outputs
src-tauri/target

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & IDE
.env
.env.local
.env.*.local
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
*.exe
